* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-style: bold;
}

body {
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/1108701/pexels-photo-1108701.jpeg");
  background-size: cover;
  background-position: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

a:hover {
  color: darkred;
}

header {
  position: relative;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.238);
}

.navbar {
  width: 100%;
  max-width: 1200px;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .burger-menu-button {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.buttons {
  display: flex;
  gap: 10px;
}

.action-button {
  background-color: darkred;
  color: white;
  border: 1px solid darkred;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  outline: none;
  font-size: 0.95rem;
  font-weight: bold;
  cursor: pointer;
}

.action-button:hover {
  color: white;
  border: 1px solid white;
}

.pro {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.pro:hover {
  background-color: white;
  color: black;
}

/*--------Burger Menu---------*/

.burger-menu {
  display: none;
  height: 0;
  position: absolute;
  right: 2rem;
  top: 60px;
  width: 200px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(4px);
  overflow: hidden;
  border-radius: 10px;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275); /*----JS animation----*/
}

.burger-menu.open {
  height: 320px;
}

.burger-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divider {
  height: 1px;
  background: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.burger-menu .action-button {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* ------RESPONSIVE-------- */

@media (max-width: 990px) {
  header {
    background: none;
  }

  .navbar .links,
  .navbar .action-button {
    display: none;
  }

  .navbar .burger-menu-button {
    display: block;
  }

  .burger-menu {
    left: 2rem;
    width: unset;
    display: block;
  }
}

@media (max-width: 576px) {
  .burger-menu {
    left: 2rem;
    width: unset;
    display: block;
  }
}
